*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  color: #171719;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
}
.layout {
  display: grid;
  grid-template-columns: 350px 1fr;
  min-height: 100vh;
  gap: 10px;
}
.layout-center {
  padding: 35px 41px 0 0;
}
.light-text {
  color: $dark-gray;
  font-size: 16px;
  font-weight: 400;
}
.dark-text {
  font-size: 17px;
}

